<!-- <form [formGroup]= "JobForm">
    <div class="text-center" style=" color: rgb(14, 13, 13);">
     <b><h2>STUDENT INFORMATION</h2></b>
    </div><br>
    <div class="card-body">
    <label class="form-group font-weight-bold">Name :</label>
    <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter Your Name"
    [ngClass]= "{'is-invalid': JobFormSubmitted && f['name'].invalid}">
    <span class="invalid-feedback">Required</span>
    <br><br>


    <label class="form-group font-weight-bold">Email :</label>
    <input type="email" id="mail" class="form-control" formControlName="mail" placeholder="Enter Your Email Id"
    [ngClass]="{'is-invalid': JobFormSubmitted && f['mail'].errors}">
    <span class="invalid-feedback">Required</span>
    <br>

    
    <button type="button" class="btn btn-primary mr-4" (click)="onSubmit()">Submit</button>

</div>
</form> -->
