<!-- <h1 style="text-align:center">Pipes In Angular</h1>
<p>
    InBuild Pipes
</p>

<div>
    {{day}}
</div><br><br>

<div>
    {{day | date}}
</div>

<div>
    {{day | date:'dd-MM-YYYY'}}
</div><br>
<div>
    {{ num | number:'6.3-4'}}
</div><br><br>
<div>
    {{num1 | percent:'6.4-6'}}
</div><br>
<div>
    {{ num | currency:'CAD':'symbol-narrow'}}
</div><br><br>
<div>
    {{'Sabitha KANNan' | lowercase}}
</div><br>
<div>
    {{data | json | uppercase }}
</div><br>
<div>
    {{arr | slice : 2:6}}
</div><br>
<div>
    {{data | keyvalue | json}}
</div> -->
<input type="text" [(ngModel)]="animalName" placeholder="search">
<h1>Animals List</h1>
<ul>
    <li *ngFor="let animal of animals | searchfilter : animalName">{{animal}}</li>
</ul>
